<%= render "layouts/errors", :object => @blog %>

<%= form_for @blog do |f| %>
  <p>
  <%= f.label :title %>
  <%= f.text_field :title %>
  </p>

  <p>
  <%= f.label :body %>
  <%= f.bootsy_area :body, class: 'form-control', rows: '20' %>
  </p>

  <p>
  <%= f.submit %>
  </p>
<% end %>
